@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-gray-800;
  overscroll-behavior: none;
  @apply text-gray-700;
}

.offset-heading {
  margin-top: -64px;
  padding-bottom: 64px;
  display: block;
}
